/* #contact_modal { */
/* display: none; */
/* display: block; */
/* } */

.modal-body {
    width: 100%;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

#message {
    height: 170px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    background-color: #db8876;
    color: #000000;
}

#modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

#modal header {
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 150px;
    margin-bottom: 50px;
}

.contact-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#modal header img {
    cursor: pointer;
}

#modal header h2 {
    font-size: 64px;
    font-weight: normal;
    /* text-align: center; */
    margin: 0;
}

.close-modal-container {
    height: 100%;
}

.close-modal-container img {
    margin-top: 15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-picture-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;

    order: 2;
}

.profile-picture-container img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    /* overflow: hidden; */
    transform: scale(1.2);
    transform-origin: center;
}

.photographer-information-container {
    order: 0;
}

.button-container {
    order: 1;
}

.photographer-information-container h2 {
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 83.33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #d3573c;
}

.photographer-information-container h3 {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #901c1c;
}

.photographer-information-container p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #525252;
}

.price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 376px;
    height: 89px;
    border-radius: 5px 5px 0 0;
    background-color: #db8876;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    margin-right: 36px;
}

.media-container {
    display: flex;
    overflow: hidden;
}

.media-container img,
.media-container video {
    display: block;
    width: 350px;
    height: 300px;
    transform-origin: center;
    object-fit: cover;
}
